/* You can add global styles to this file, and also import other style files */
html,
body {
  font-size: 1.0rem;
}

* {
  margin: 0;
}

ul {
  list-style-type: none;
}

// 画像リセット
* {
  background-repeat: no-repeat;
}

// font
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  font-family: verdana,
    "ＭＳ Ｐゴシック",
    sans-serif,
    "ヒラギノ角ゴ Pro W3";
}

.noto-serif {
  font-family: 'Noto Serif JP', serif;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}
